<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :adress %>
    <%= form.text_field :adress, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :picture, class: "form-label" %>
    <%= form.file_field :picture, accept: "image/png, image/jpeg, image/jpg", class: "form-control-file" %>
    <small class="form-text text-muted">PNG, JPEG and JPG only </small>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>