<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :category_id %>
    <%= form.select :category_id, @categories.map {|cat| [cat.name, cat.id]}, class: "form-select" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :measurement_id %>
    <%= form.select :measurement_id, @measurements.map {|mea| [mea.name, mea.id]}, class: "form-select" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
