<div class="container col-8 col-lg-4 col-sm-6 text-left">
<%= form_with(model: listing, local: true) do |form| %>
  <table>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3 row-cols-1 ">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.all, :id, :name %>
    </div>

  <div class="form-group mb-3">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: "form-control" %><br>
    <%= form.collection_select :measurement_id, Measurement.all, :id, :name %>
  </div>

  <div class="form-group mb-3 text-left">
    <%= form.label :picture, class: "form-label" %>
    <%= form.file_field :picture, accept: "image/png, image/jpeg, image/jpg", class: "form-control-file" %>
    <small class="form-text text-muted">PNG, JPEG and JPG only </small>
  </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</table>
<% end %>
