<p id="notice"><%= notice %></p>

<h1 class="hero-title text-center">Shop</h1>
<div class="container">
   <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
     <% @listings.each do |listing| %>
       <div class="col mb-4">
          <div class="card border-dark h-100">
          <%= image_tag "capsicum.jpg", alt: "capsicum", class: "thubnail card-img top" %>
             <div class="card-body">
                <h5><%= listing.title %></h5>
                <p class="xard-text text-secondary"><%= listing.description %></p>
                <div class="d-flex justify-content-between">
                  <%= link_to "See More", listing_path(listing.id), class: "btn btn-outline-primary"%>
                  <h5>$<%= listing.price %></h5>
                </div>
                <p class="card-subtitle my-2 text-muted">Added <%= time_ago_in_words(listing.created_at) %> ago</p>
             </div>
          </div>
       </div>
     <% end %>      
   </div>
</div>
