<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid">
     <%= link_to "Share Your Garden", root_path, class: "navbar-brand" %>
     <ul class="navbar-nav mr-5-lg>
        <li class="nav-item">
          <%= link_to "Shop", listings_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
           <%= link_to "Create Listing", new_listing_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
           <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item">
           <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
           <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
        <% end %>
     </ul>
  </div>
</nav>
