<!DOCTYPE html>
<html>
  <head>
    <title>Share Garden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=devise-widt, initial-scale=1.0">
    
    　<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    </head>

  <body>
    <%flash.each do|key, value|%>
    <div class='alert alert-<%= select_alert_subclass(key) %> alert-dismissible fade show'role="alert">
      <%=value%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%end%>

    <div class="wrapper">
    <%=render "shared/navbar"%>
      <%= yield %>
    </div>

    <%=render "shared/footerbar"%>
  </body>
</html>
